.home__services {
	display: flex;
	justify-content: space-evenly;

	margin-top: 4.5rem;
	padding-top: 8rem;
	padding-bottom: 8rem;
	padding-right: 4rem;
	padding-left: 4rem;
	font-size: 1.5rem; 
	background-color: rgb(240,236,248);
}

.home__service {
	width: 100% !important;
	text-align: center;

	border: 2px solid var(--primaryColor);
	border-radius: 4rem;
	padding: 3rem 1.5rem;

	position: relative;
}

.home__service:not(:first-child){
	margin-left: 1.5rem;
}

.home__serviceText {
	padding-bottom: 1rem;
}

.home__serviceIcon {
	position: absolute;
	top: -3rem;
	left: 50%;

	background-color: var(--primaryColor);
	color: #fff;
	font-size: 2rem;
	border-radius: 100px;
	padding: 1.5rem 2rem;
	transform: translate(-50%, 0);
}

.home__serviceLink {
	color: #fff;
	background-color: var(--primaryColor);
	padding: .5rem 2rem;
	text-transform: uppercase;
	font-weight: 500;
	border: 1px solid #b9b8b834;
	border-radius: 5px;
	/* margin-top: 2rem; */
	transition: all .2s;

}

.home__serviceLink:hover {
	color: var(--primaryColor);
	text-decoration: none;
	background-color: #b9b8b834;
	border: 1px solid var(--primaryColor);
}

.home__contact {
	min-height: 30rem;
	font-weight: 500;
	color: #fff;
	/* margin-top: 3rem; */
	padding: 1.5rem;
	font-size: 1.5rem;
	text-align: center;
	background-color: var(--primaryColor);
}

.home__contactTitle {
	padding-top: 2.5rem;
	padding-bottom: 1rem;
	text-transform: capitalize;
	font-size: 3rem;
}

.home__contactText {
	margin-bottom: 4rem;
}

.home__contactLink {
	color: #fff;
	border: 1px solid #fff;
	margin-bottom: 3rem;
	border-radius: 5px;
	padding: 1rem 4rem;
	font-weight: 500;
	transition: all .2s;
}

.home__contactLink:hover {
	color: var(--primaryColor);
	background-color: #fff;
	text-decoration: none;
	border: 1px solid #fff;
}

.home__contactIcon {
	padding-right: 1rem;
	font-size: 2rem;
	/* margin-bottom: 1rem; */
	align-self: center;
	/* transition: all .1s; */
}

.home__contactLink:hover .home__contactIcon {
	padding-right: 1.1rem;
}

@media (max-width: 990px) {
	.home__services {
		flex-direction: column;
	}

	.home__service {
		width: 100%;
		margin-top: 3.5rem;
	}

	.home__service:not(:first-child) {
		margin-left: 0;
	}

	.home__service:nth-child(odd) {
		/* margin-left: 1.5rem; */
	}

	.home__serviceIcon {
		/* left: 37%; */
	}
}

/* @media (max-width: 800px){
	.home__serviceIcon {
		left: 32%;
	}
}

@media (max-width: 768px){
	.home__serviceIcon {
		left: 45%;
	}
}

@media (max-width: 568px){
	.home__serviceIcon {
		left: 43%;
	}
} */