.intro {
	font-size: 1.5rem;
	margin-top: 3rem;
	padding-right: 4rem;
	padding-left: 4rem;
	display: flex;
	justify-content: space-evenly;
}

.intro__left {
	flex: 0.9;
}

.intro__title {
	font-size: 3rem;
	font-weight: 400;
	color: var(--primaryColor);
}

.intro__right {
	display: flex;
	flex-direction: column;
}

.intro__link {
	padding: 1rem 8rem;
	background-color: var(--primaryColor);
	color: #fff;
	border: 2px solid var(--primaryColor);
	margin-top: 1.5rem;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: 500;
	transition: all .2s;

	display: flex;
	align-items: center;
}

.intro__link:hover {
	color: var(--primaryColor);
	background-color: #b9b8b834;
	text-decoration: none;
	border: 2px solid var(--primaryColor);
}

.intro__link .intro__icon {
	/* align-self: center; */
	padding-bottom: .4rem;
	padding-right: 1.5rem;
	font-size: 2rem;
	color: #fff;
}

.intro__link:hover .intro__icon {
	color: var(--primaryColor);
}

@media (max-width: 990px) {
	.intro {
		margin-top: 2rem;
		flex-direction: column;
	}

	.intro__right {
		flex-direction: row;
		justify-content: center;
		padding: 0 1rem;
	}

	.intro__right .intro__link{
		/* text-align: center; */
		padding: 1rem 3rem;
	}

	.intro__right .intro__link:not(:first-child) {
		margin-left: 1rem;
	}
}