.navbar {
	padding-top: 1rem;
	font-size: 1.5rem;
	justify-content: center !important;
	border-bottom: 2px solid var(--primaryColor);
}

.navbar button {
	height: 4rem;
	width: 4rem;
}

.navbar button:focus {
	outline: none;
}

.mr-auto {
	margin-left: auto !important;
	padding: 1rem 0;
}

.navbar .nav-item {
	padding-right: 2.5rem;
	text-transform: uppercase;
	font-weight: 500;
	width: 12rem;
}

.navbar .nav-item a {
	color: rgb(164, 161, 172);
	outline: none;
	transition: all .3s;
}

.navbar .nav-item a:hover {
	text-decoration: none;
	/* color: var(--secondaryColor); */
	color: var(--primaryColor);
	/* font-weight: 700; */
}

.selected {
	color: var(--secondaryColor) !important;
	font-weight: 700;
}

@media screen and (width: 768px) {
	.navbar {
		padding-top: 0;
		padding-bottom: 0;
	}

	.navbar .nav-item {
		padding-right: 2rem;
		border: none;
	}

	.navbar-nav {
		width: 100%;
	}
}