/* @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap'); */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,80);

body {
  margin: 0;
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #b9b8b834 !important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
